
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Categories</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Luxury</a>
                <a href="#" class="list-group-item">Sports</a>
                <a href="#" class="list-group-item">Economic</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" aria-setsize="800x300" src="img/2012_maserati_grancabrio_sport.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" aria-setsize="800x300" src="img/2012_maserati_grancabrio_sport.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" aria-setsize="800x300" src="img/lamborghini_veneno.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div ng-repeat="product in products" class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img class="item-image" src="{{product.imageUrl}}" alt="">
                        <div class="caption">
                            <h4 class="pull-right">${{product.price | number}}</h4>
                            <h4><a href="#/product/{{product.id}}">{{product.productName}}</a>
                            </h4>
                            <p>{{product.productDescription}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{{product.comments.length}} reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i><a href="#/product/{{product.id}}" class="hidden-sm">More details</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
